{% load static %}
<footer class="hidden-xs hidden-sm">
    <div style="display: flex;">
        <div style="display: flex; flex: 1;">
            <img class="mr-3" src="{% static "/images/CBNU_logo.png" %}" style="width: 40px; height: 40px; margin: auto 0;" alt="logo"/>
            <span style="margin: auto 0 auto 10px;">Chungdae-ro 1, Seowon-Gu, Cheongju, Chungbuk 28644, Korea<br>CGAC Laboratory</span>
        </div>
        <div style="display: flex; justify-content: flex-end; flex: 1; ">
            <span style="margin: auto 0; text-align: right;">
                ⓒ Chungbuk National University. ALL RIGHTS RESERVED.
            </span>
        </div>
    </div>
</footer>
<footer class="hidden-md hidden-lg">
    <div style="display: flex; flex-direction: column;">
        <div style="display: flex; flex: 1;">
            <img class="mr-3" src="{% static "images/CBNU_logo.png" %}"
                 style="width: 40px; height: 40px; margin: auto 0;" alt="logo"/>
            <span style="margin: auto 0 auto 10px;">Chungdae-ro 1, Seowon-Gu, Cheongju, Chungbuk 28644, Korea<br>CGAC Laboratory</span>
        </div>
        <div style="display: flex; justify-content: center; flex: 1; margin-top: 10px;">
            <span style="margin: auto 0; text-align: center;">
                ⓒ Chungbuk National University.<br>ALL RIGHTS RESERVED.
            </span>
        </div>
    </div>
</footer>