{% load static %}
<div id="sidebar">
    <div class="sidebar-header border-bottom border-success" style="min-height: 60px; display: flex;">
        <a href="{% url 'main' %}" style="margin: auto;">
            <div style="display: flex;">
                <div>
                    <img class="media-object" src="{% static '/images/CBNU_logo_white.png' %}"
                         width="40px" height="40px" alt="logo"/>
                </div>
                <div style="display: flex; margin-left: 10px;">
                    <h4 class="media-heading" style="margin: auto;">
                        CGAC<br/>Web Data Analysis
                    </h4>
                </div>
            </div>
        </a>
    </div>
    <div class="clearfix"></div>
    <p class="section">메뉴</p>
    <ul class="list-unstyled menu-left" style="margin: 0;">
        <li>
            <a href="#pageSubMenu0" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu">
                <i class="fa fa-database" aria-hidden="true"></i>정보 불러오기<span class="fa fa-chevron-down pull-right"></span></a>
            <ul class="collapse list-unstyled sub_menu" id="pageSubMenu0">
                <li>
                    <a class="submenu" href="{% url 'mon' %}">불러오기</a>
                </li>
                                <li>
                    <a class="submenu" href="{% url 'info' %}">정보 특성보기</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pageSubMenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu">
                <i class="fa fa-database" aria-hidden="true"></i>데이터 품질검증<span class="fa fa-chevron-down pull-right"></span></a>
            <ul class="collapse list-unstyled sub_menu" id="pageSubMenu1">
                <li>
                    <a class="submenu" href="">데이터 속성검증</a>
                </li>
                <li>
                    <a class="submenu" href="">데이터 평가</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pageSubMenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu">
                <i class="fa fa-database" aria-hidden="true"></i>전처리<span class="fa fa-chevron-down pull-right"></span></a>
            <ul class="collapse list-unstyled sub_menu" id="pageSubMenu2">
                <li>
                <li><a class="submenu" href="{% url 'delete' %}">결측지 처리</a>
                </li>
                  <li>
                    <a class="submenu" href="{% url 'onehot_encoder' %}">one-hot-encoding</a>
                </li>
                <li><a class="submenu" href="{% url 'Normalization' %}">Normalization</a>
                </li>

                <li><a class="submenu" href="{% url 'outlier' %}">이상치</a>
                </li>
            </ul>
        </li>

                <li>
            <a href="#pageSubMenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu">
                <i class="fa fa-database" aria-hidden="true"></i>시각화<span
                    class="fa fa-chevron-down pull-right"></span></a>
            <ul class="collapse list-unstyled sub_menu" id="pageSubMenu3">
                <li>
                    <a class="submenu6" href="{% url "sub6" %}">시간 시각화</a>
                </li>
                <li>
                    <a class="submenu" href="{% url "sub1" %}">비교 시각화</a>
                </li>
                <li>
                    <a class="submenu2" href="{% url "sub2" %}">관계 시각화</a>
                </li>
                <li>
                    <a class="submenu3" href="{% url "sub3" %}">분포 시각화</a>
                </li>
                <li>
                    <a class="submenu5" href="{% url "sub5" %}">공간 시각화</a>
                </li>
                <li>
                    <a class="submenu4" href="{% url "sub4" %}">복합 시각화</a>
                </li>
            </ul>

        </li>


        <li>
            <a href="#pageSubMenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu">
                <i class="fa fa-database" aria-hidden="true"></i>시각화(임시)<span
                    class="fa fa-chevron-down pull-right"></span></a>
            <ul class="collapse list-unstyled sub_menu" id="pageSubMenu4">
                 <li>
                    <a class="submenu" href="{% url 'plot' %}">Historgram</a>
                </li>
                {#                <li>#}
                {#                    <a class="submenu" href="{% url "old_keyin_syst" %}">OLD 데이터입력</a>#}
                {#                </li>#}
                 <li>
                    <a class="submenu" href="{% url 'plot2' %}">Scatter plots</a>
                </li>
                 <li>
                    <a class="submenu" href="{% url 'plot3' %}">Boxplot</a>
                </li>
                <li>
                    <a class="submenu" href="{% url 'dbscan' %}">DBSCAN</a>
                </li>
            </ul>
        </li>

                <li>
            <a href="#pageSubMenu5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu">
                <i class="fa fa-database" aria-hidden="true"></i>머신러닝<span
                    class="fa fa-chevron-down pull-right"></span></a>
            <ul class="collapse list-unstyled sub_menu" id="pageSubMenu5">

                <li>
                    <a class="submenu" href="#">회귀</a>
                </li>
                <li>
                    <a class="submenu2" href="#">분류</a>
                </li>
                <li>
                    <a class="submenu3" href="#">연관 분석</a>
                </li>
            </ul>
        </li>

                        <li>
            <a href="#pageSubMenu6" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu">
                <i class="fa fa-database" aria-hidden="true"></i>딥러닝<span
                    class="fa fa-chevron-down pull-right"></span></a>
            <ul class="collapse list-unstyled sub_menu" id="pageSubMenu6">

                <li>
                    <a class="submenu" href="#">인식</a>
                </li>
                <li>
                    <a class="submenu2" href="#">분류</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#pageSubMenu7" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu">
                <i class="fa fa-database" aria-hidden="true"></i>모델 평가 및 시각화<span
                    class="fa fa-chevron-down pull-right"></span></a>
            <ul class="collapse list-unstyled sub_menu" id="pageSubMenu7">

                <li>
                    <a class="submenu1" href="#">모델 평가</a>
                </li>
                <li>
                    <a class="submenu2" href="#">모델 예측</a>
                </li>
                <li>
                    <a class="submenu3" href="#">시각화</a>
                </li>
            </ul>

        </li>

    </ul>
</div>