<nav class="navbar navbar-default navbar-fixed-top" id="sticky-header">
  <div class="row" style="min-height: 60px">
    <div class="col-xs-12" style="min-height: 60px">
      <div
        class="navbar-header"
        style="display: flex; min-height: 60px; vertical-align: middle"
      >
        <button
          type="button"
          id="sidebarCollapse"
          class="btn btn-sm navbar-brand"
          style="
            width: 60px;
            height: 60px;
            margin: auto 0;
            vertical-align: middle;
            font-size: 20px;
          "
        >
          <i class="fa fa-align-justify"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
