
<title>Orders Manager</title>
<head>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css">

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
    $('#example').DataTable({"lengthMenu": [ 20, 50, 100 ]});
});
</script>
</head>
<body>
<table id="example" class="display" style="width:100%" >
        <thead>
 <tr>

          {% for datase in cols %}

            <th><B>{{datase}}</B></th>

            {% endfor %}

        </tr>
        </thead>
        <tbody>
{% for oneline in products_list %}
        <tr>

            {% for onedata in oneline %}
            <td>{{onedata}}</td>

            {% endfor %}
        </tr>
        {% endfor %}
        </tfoot>
    </table>
</body>
