{% extends 'base_layout/base_site.html' %}
{% block content %}
 <div style=" float: left; width: 33%;">
    <h5>Columns 1개를 선택해주세요</h5>
    <form action="" method="post">
              {% csrf_token %}
        {% for check in col %}
                    <p><input id="selected4" type="checkbox" name="selected4" value="{{ check }}">{{ check }}</p>
                {%  endfor %}
        <button type="submit">시각화</button>
    </form>
 </div>
<a>bar graph</a>
<br>
<a>scatter</a>
<br>
<a>box plot</a>
         <div style=" float: left; width: 66%;">
    <div class="container mt-4">
        {{ chart|safe }}
    </div>
         </div>
{% endblock %}